version: "3.1"

services:

  mongo:
    build:
        context: mongo
        dockerfile: Dockerfile
    image: mongorpl
    hostname: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081

volumes:
  mongo-data:
